*{
	margin: 0;
}
.mydiv{
	position:relative ;
		margin: auto;
	width: 800px;
	height: 400px;
	background: green;
}
.mydiv .my {
	width: 200px;
	height: 200px;
	background: red;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}